<div class="careers-wrapper">
  <div class="header-wrapper">
    <div class="header__trapezoid">
      <%= image_tag("shapes/trapezoid.png") %>
    </div>
    <div class="circle circle__blue"></div>
    <a href="/" class="header__link">
      <div class="header__logo-wrapper">
        <div class="header__logo-img-wrapper">
          <%= image_tag("logo.png") %>
        </div>
        <div class="header__desc">AN IAC INCUBATOR</div>
      </div>
    </a>
  </div>
  
  <div class="careers__content">
    <div id="grnhse_app"></div>
  </div>

  <div class="footer-wrapper">
    <div class="footer__trapezoid">
      <%= image_tag("shapes/shape4.png") %>
    </div>
    <div class="circle circle__purple"></div>
  </div>
  <script src="https://boards.greenhouse.io/embed/job_board/js?for=newco"></script>
</div>