html {
  height: 100%;
  overflow: auto;
}
body {
  height: 100%;
  overflow: auto;
}

h1 {
  font-family: "Cambon";
  font-size: 70px;
  line-height: 82px;
  text-align: center;
}

h2 {
  font-family: "Cambon";
  font-size: 45px;
  line-height: 59px;
  text-align: center;
}

h3 {
  font-family: "Cambon";
  font-size: 35px;
  line-height: 45px;
  text-align: center;
}

p {
  box-sizing: border-box;
  font-family: "Biryani", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  width: 100% - 6.6% * 2;
}

.content-padding {
  padding: 0 6.6%; // make sure this matches the $content-padding in variables.scss
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  h1 {
    font-size: 100px;
    line-height: 103px;
  }

  h2 {
    font-size: 50px;
    line-height: 66px;
  }

  h3 {
    font-size: 40px;
    line-height: 52px;
  }

  p {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content-padding {
    padding: 0 26%; // make sure this matches the $content-padding in variables.scss
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 130px;
    line-height: 170px;
  }

  .content-padding {
    padding: 0 9.7%; // make sure this matches the $content-padding in variables.scss
  }
}
