// colors
$black: #000000;
$blue: #beccd5;
$blush: #f5e1d3;
$green: #b3b795;
$purple: #d8bddc;
$white: #ffffff;
$yellow: #f4c55c;

// screen sizes
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
