// keyframes
// $fade-in-up-to-tops: 50, 55, 65, 68;
// @each $top in $fade-in-up-to-tops {
//   $start: $top + 20;
//   // @debug math.$start;
//   $end: $top;
//   @include keyframes(fade-in-up-to-#{$top}) {
//     @include fade-in-up-to($start, $end);
//   }
// }

@include keyframes(fade-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(fade-out) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(fall-top-to-bottom) {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@include keyframes(fade-in-up-to-45) {
  @include fade-in-up-to(140%, 45%);
}

@include keyframes(fade-in-up-to-50) {
  @include fade-in-up-to(70%, 50%);
}

@include keyframes(fade-in-up-to-55) {
  @include fade-in-up-to(75%, 55%);
}

@include keyframes(fade-in-up-to-60) {
  @include fade-in-up-to(80%, 60%);
}

@include keyframes(fade-in-up-to-65) {
  @include fade-in-up-to(85%, 65%);
}

@include keyframes(fade-in-up-to-68) {
  @include fade-in-up-to(88%, 68%);
}

@include keyframes(fade-in-up-to-70) {
  @include fade-in-up-to(140%, 70%);
}

@include keyframes(pulse-brand) {
  @include pulse-animation-content(190, 204, 213, 1);
}

@include keyframes(pulse-design) {
  0% {
    transform: scale($pulse-scale-1);
    box-shadow: 0 0 0 rgba(216, 189, 220, 1);
    height: $shape-design-width - 10px;
    left: 50%;
    position: absolute;
    top: $shape-design-top;
    transform: translate(-50%, -50%) perspective(0.6px) rotateX(0.45deg);
    width: $shape-design-width;
  }
  70% {
    transform: scale($pulse-scale-2);
    box-shadow: 0 0 0 10px rgba(216, 189, 220, 0);
    height: $shape-design-width - 10px;
    left: 50%;
    position: absolute;
    top: $shape-design-top;
    transform: translate(-50%, -50%) perspective(0.6px) rotateX(0.45deg);
    width: $shape-design-width;
  }
  100% {
    transform: scale($pulse-scale-3);
    box-shadow: 0 0 0 0 rgba(216, 189, 220, 0);
    height: $shape-design-width - 10px;
    left: 50%;
    position: absolute;
    top: $shape-design-top;
    transform: translate(-50%, -50%) perspective(0.6px) rotateX(0.45deg);
    width: $shape-design-width;
  }
}

@include keyframes(pulse-dev) {
  @include pulse-animation-content(244, 197, 92, 1);
}

@include keyframes(pulse-growth) {
  @include pulse-animation-content(179, 183, 149, 1);
}

@include keyframes(pulse-more) {
  @include pulse-animation-content(190, 204, 213, 1);
}

// @include keyframes(slide-down) {
//   @include slide-down-animation-content(0, 140);
// }
@keyframes slide-down {
  0% {
    top: 0%;
  }
  100% {
    top: 140%;
  }
}

$animation-duration: 1s;

.fade-in {
  animation-name: fade-in;
  animation-duration: $animation-duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.fade-in-up-h1--1 {
  animation-name: fade-in-up-to-50;
  animation-duration: $animation-duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.fade-in-up-h2--2 {
  animation-name: fade-in-up-to-50;
  animation-duration: $animation-duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.fade-in-up-p--1 {
  animation-name: fade-in-up-to-68;
  animation-duration: $animation-duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.fade-in-up-p--2 {
  animation-name: fade-in-up-to-68;
  animation-duration: $animation-duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.fade-in-up-header-container--4 {
  animation-name: fade-in-up-to-50;
  animation-duration: $animation-duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.fade-in-up-header-container--5 {
  animation-name: fade-in-up-to-50;
  animation-duration: $animation-duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@media (min-width: $screen-lg) {
  .fade-in-up-h2--2 {
    animation-name: fade-in-up-to-55;
    animation-duration: $animation-duration;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .fade-in-up-p--2 {
    animation-name: fade-in-up-to-65;
    animation-duration: $animation-duration;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}
