.careers-wrapper {
  background-color: white;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.careers__content {
  flex: 1;
  width: 100%;
  max-width: 1190px;
  padding: 0 25px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__desc {
  font-size: 18px;
  line-height: 24px;
  font-family: "Biryani", sans-serif;
  margin-top: 6px;
}

.header-wrapper,
.footer-wrapper {
  position: relative;
  background-color: #b3b795;
  overflow: hidden;
}

.circle {
  position: absolute;
  width: 288px;
  height: 288px;
  border-radius: 50%;
}

.header-wrapper {
  padding: 82px 70px 47px 70px;
}
.header__link {
  text-decoration: none;
  color: black;
  display: block;
  width: 186px;
}
.header__logo-wrapper {
  display: block;
  width: 186px;
  img {
    width: 100%;
    height: auto;
  }
}

.header__logo-img-wrapper {
  width: 100%;
}

.header__trapezoid {
  position: absolute;
  top: 0;
  left: 0;
}

.circle__blue {
  background-color: #beccd5;
  right: -144px;
  bottom: -144px;
}

.circle__purple {
  background-color: #d8bddc;
  right: -144px;
  bottom: -87px;
}

.footer-wrapper {
  height: 420px;
  width: 100%;
}
.footer__trapezoid {
  position: absolute;
  width: 658px;
  img {
    width: 100%;
    height: auto;
  }
  top: -250px;
  left: -180px;
}
