// animation
$animation-duration: 2.75s;
$animation-delay: $animation-duration / 4;

// shapes
$shape-1-height-sm: 141px;
$shape-1-height-md: 186.28px;
$shape-1-height-lg: 282px;
$shape-1-width-sm: 137px;
$shape-1-width-md: 181px;
$shape-1-width-lg: 274px;

$shape-2-height-sm: 59.5px;
$shape-2-height-md: 78.984px;
$shape-2-height-lg: 119px;
$shape-2-width-sm: 58px;
$shape-2-width-md: 77px;
$shape-2-width-lg: 116px;

$shape-3-height-sm: 256px;
$shape-3-height-md: 338.578px;
$shape-3-height-lg: 513px;
$shape-3-width-sm: 125px;
$shape-3-width-md: 165px;
$shape-3-width-lg: 250px;

$shape-4-height-sm: 55.25px;
$shape-4-height-md: 73.672px;
$shape-4-height-lg: 111px;
$shape-4-width-sm: 57px;
$shape-4-width-md: 76px;
$shape-4-width-lg: 114px;

$shape-5-height-sm: 156px;
$shape-5-height-md: 205px;
$shape-5-height-lg: 310px;
$shape-5-width-sm: 150px;
$shape-5-width-md: 200px;
$shape-5-width-lg: 301px;

// paddings
$padding-bottom-sm: 50px;
$padding-bottom-md: 100px;
$padding-bottom-lg: 50px;

.loading-screen {
  background: $black;
  height: 100vh;
  overflow: hidden;
}

.loading-screen__shapes-container {
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: $padding-bottom-sm;
  width: 300px;
}

.loading-screen__shape {
  position: absolute;
  z-index: 1;
}

.loading-screen__shape--1 {
  animation-name: ls-shape-1-sm;
  animation-duration: $animation-duration;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  top: -$shape-1-height-sm;
  width: $shape-1-width-sm;
}

.loading-screen__shape--2 {
  animation-name: ls-shape-2-sm;
  animation-duration: $animation-duration;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: $animation-delay;
  left: calc(#{$shape-1-width-sm} + #{$shape-3-width-sm} - 36px);
  top: -$shape-2-height-sm;
  width: $shape-2-width-sm;
}

.loading-screen__shape--3 {
  animation-name: ls-shape-3-sm;
  animation-duration: $animation-duration;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: $animation-delay * 2;
  left: $shape-1-width-sm;
  top: -$shape-3-height-sm;
  width: $shape-3-width-sm;
}

.loading-screen__shape--4 {
  animation-name: ls-shape-4-sm;
  animation-duration: $animation-duration;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: $animation-delay * 3;
  left: calc(#{$shape-1-width-sm} / 2 + 12px);
  top: -$shape-4-height-sm;
  width: $shape-4-width-sm;
}

.loading-screen__shape--5 {
  animation-name: ls-shape-5-sm;
  animation-duration: $animation-duration;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: $animation-delay * 4;
  left: -32px;
  top: -$shape-5-height-sm;
  width: $shape-5-width-sm;
}

.loading-screen__percent {
  color: $white;
  font-family: "Cambon";
  font-size: 32px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
}

@include keyframes(ls-shape-1-sm) {
  0% {
    top: -$shape-1-height-sm;
  }
  100% {
    top: calc(100% - #{$shape-1-height-sm} - #{$padding-bottom-sm});
  }
}

@include keyframes(ls-shape-1-md) {
  0% {
    top: -$shape-1-height-md;
  }
  100% {
    top: calc(100% - #{$shape-1-height-md} - #{$padding-bottom-md});
  }
}

@include keyframes(ls-shape-1-lg) {
  0% {
    top: -$shape-1-height-lg;
  }
  100% {
    top: calc(100% - #{$shape-1-height-lg} - #{$padding-bottom-lg});
  }
}

@include keyframes(ls-shape-2-sm) {
  0% {
    top: -$shape-2-height-sm;
  }
  100% {
    top: calc(100% - #{$shape-2-height-sm} - #{$padding-bottom-sm});
  }
}

@include keyframes(ls-shape-2-md) {
  0% {
    top: -$shape-2-height-md;
  }
  100% {
    top: calc(100% - #{$shape-2-height-md} - #{$padding-bottom-md});
  }
}

@include keyframes(ls-shape-2-lg) {
  0% {
    top: -$shape-2-height-lg;
  }
  100% {
    top: calc(100% - #{$shape-2-height-lg} - #{$padding-bottom-lg});
  }
}

@include keyframes(ls-shape-3-sm) {
  0% {
    top: -$shape-3-height-sm;
  }
  100% {
    top: calc(100% - #{$shape-3-height-sm} - #{$padding-bottom-sm});
  }
}

@include keyframes(ls-shape-3-md) {
  0% {
    top: -$shape-3-height-md;
  }
  100% {
    top: calc(100% - #{$shape-3-height-md} - #{$padding-bottom-md});
  }
}

@include keyframes(ls-shape-3-lg) {
  0% {
    top: -$shape-3-height-lg;
  }
  100% {
    top: calc(100% - #{$shape-3-height-lg} - #{$padding-bottom-lg});
  }
}

@include keyframes(ls-shape-4-sm) {
  0% {
    top: -$shape-4-height-sm;
  }
  100% {
    top: calc(
      100% - #{$shape-1-height-sm} - #{$shape-4-height-sm} - #{$padding-bottom-sm}
    );
  }
}

@include keyframes(ls-shape-4-md) {
  0% {
    top: -$shape-4-height-md;
  }
  100% {
    top: calc(
      100% - #{$shape-1-height-md} - #{$shape-4-height-md} - #{$padding-bottom-md}
    );
  }
}

@include keyframes(ls-shape-4-lg) {
  0% {
    top: -$shape-4-height-lg;
  }
  100% {
    top: calc(
      100% - #{$shape-1-height-lg} - #{$shape-4-height-lg} - #{$padding-bottom-lg}
    );
  }
}

@include keyframes(ls-shape-5-sm) {
  0% {
    top: -$shape-5-height-sm;
  }
  100% {
    top: calc(
      100% - #{$shape-1-height-sm} - #{$shape-5-height-sm} - #{$padding-bottom-sm} +
        2px
    );
  }
}

@include keyframes(ls-shape-5-md) {
  0% {
    top: -$shape-5-height-md;
  }
  100% {
    top: calc(
      100% - #{$shape-1-height-md} - #{$shape-5-height-md} - #{$padding-bottom-md} +
        2px
    );
  }
}

@include keyframes(ls-shape-5-lg) {
  0% {
    top: -$shape-5-height-lg;
  }
  100% {
    top: calc(
      100% - #{$shape-1-height-lg} - #{$shape-5-height-lg} - #{$padding-bottom-lg} +
        2px
    );
  }
}

@media (min-width: $screen-md) and (max-width: #{$screen-lg - 1px}) {
  .loading-screen__percent {
    display: block;
    font-size: 60px;
    top: 50%;
    transform: translate(0, -50%);
    right: 50px;
  }

  .loading-screen__shapes-container {
    box-sizing: border-box;
    margin: 0 auto 0 15%;
    padding-bottom: $padding-bottom-md;
    width: 400px;
  }

  .loading-screen__shape--1 {
    animation-name: ls-shape-1-md;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    top: -$shape-1-height-md;
    width: $shape-1-width-md;
  }

  .loading-screen__shape--2 {
    animation-name: ls-shape-2-md;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: $animation-delay;
    left: calc(#{$shape-1-width-md} + #{$shape-3-width-md} - 47px);
    top: -$shape-2-height-md;
    width: $shape-2-width-md;
  }

  .loading-screen__shape--3 {
    animation-name: ls-shape-3-md;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: $animation-delay * 2;
    left: $shape-1-width-md;
    top: -$shape-3-height-md;
    width: $shape-3-width-md;
  }

  .loading-screen__shape--4 {
    animation-name: ls-shape-4-md;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: $animation-delay * 3;
    left: calc(#{$shape-1-width-md} / 2 + 15px);
    top: -$shape-4-height-md;
    width: $shape-4-width-md;
  }

  .loading-screen__shape--5 {
    animation-name: ls-shape-5-md;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: $animation-delay * 4;
    left: -44px;
    top: -$shape-5-height-md;
    width: $shape-5-width-md;
  }
}

@media (min-width: $screen-lg) {
  .loading-screen__percent {
    display: block;
    font-size: 100px;
    top: 50%;
    transform: translate(0, -50%);
    right: 50px;
  }

  .loading-screen__shapes-container {
    box-sizing: border-box;
    margin: 0 auto 0 10%;
    padding-bottom: $padding-bottom-md;
    width: 625px;
  }

  .loading-screen__shape--1 {
    animation-name: ls-shape-1-lg;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    top: -$shape-1-height-lg;
    width: $shape-1-width-lg;
  }

  .loading-screen__shape--2 {
    animation-name: ls-shape-2-lg;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: $animation-delay;
    left: calc(#{$shape-1-width-lg} + #{$shape-3-width-lg} - 72px);
    top: -$shape-2-height-lg;
    width: $shape-2-width-lg;
  }

  .loading-screen__shape--3 {
    animation-name: ls-shape-3-lg;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: $animation-delay * 2;
    left: $shape-1-width-lg;
    top: -$shape-3-height-lg;
    width: $shape-3-width-lg;
  }

  .loading-screen__shape--4 {
    animation-name: ls-shape-4-lg;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: $animation-delay * 3;
    left: calc(#{$shape-1-width-lg} / 2 + 24px);
    top: -$shape-4-height-lg;
    width: $shape-4-width-lg;
  }

  .loading-screen__shape--5 {
    animation-name: ls-shape-5-lg;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: $animation-delay * 4;
    left: -62px;
    top: -$shape-5-height-lg;
    width: $shape-5-width-lg;
  }
}
